<div class="col-md-4" *ngFor="let cliente of clientes">
    <div class="card text-center">
        <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
            {{cliente.nombre}}
            <button class="btn btn-danger" (click)="deleteCliente(cliente.id)">
                <i class="far fa-trash-alt"></i>
            </button>
        </div>
        <div class="card-body">
            <p>{{cliente.monto}}</p>
            <a [routerLink]="['/clientes/edit', cliente.id]" class="btn btn-info btn-block">
                Edit Client
            </a>
        </div>
    </div>
</div>